*{
    margin: 0 auto;
}

.body{
    min-height: 100vh;
}

.container {
    margin-top: 100px;
    max-width: 500px;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    background-color: #fff;
}

.container .heading{
    font-size: 40px;
    text-align: center;
}

.container form{
    margin: 30px 145px;

}

.container label{
    display: block;
}

.emailField, .passField{
    padding-bottom: 15px;
}

.emailField input, .passField input{
    padding: 15px;
    font-size: 14px;
}

button{
    display: flex;
    justify-content: center;
    padding: 10px 20px
}

.error{
    display: none;
}